@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './vars.scss';

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $gray-dark;
  background-image: url('./assets/paisley.png');
  color: $gray-lightest;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  color: $gray-lightest;
}

input:focus, button:focus, select:focus, textarea:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
