@import "../../vars.scss";

.Login {
  width: 100vw;
  height: 100vh;
  input[type="text"], input[type="password"] {
    border-radius: 4px;
    background: $gray;
    margin: 3px;
    border: none;
    padding: 7px 9px;
    color: $orange-main;
    -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    &:focus {
      &::-webkit-input-placeholder {
        color: $orange-main;
      }
      &:-ms-input-placeholder {
        color: $orange-main;
      }
      &::-ms-input-placeholder {
        color: $orange-main;
      }
      &::placeholder {
        color: $orange-main;
      }
    }
    &::-webkit-input-placeholder {
      color: $green-main;
    }
    &:-ms-input-placeholder {
      color: $green-main;
    }
    &::-ms-input-placeholder {
      color: $green-main;
    }
    &::placeholder {
      color: $green-main;
    }
  }
  button {
    padding: 7px;
    width: 145px;
    border-radius: 4px;
    background: $gray;
    border: none;
    margin-top: 3px;
    color: $orange-main;
    -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    &:hover {
      cursor: pointer;
      background: $gray-dark;
    }
  }
}
