@import "../../vars.scss";

.TextArea {
  textarea {
    line-height: 20px;
    min-height: 25px;
    font-size: 14px;
    margin: 10px 0px;
    width: 100%;
    background: rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    resize: none;
    margin: 0px;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  }
}
