@import "../../vars.scss";

.Nav {
  width: 100%;
  height: 60px;
  background: $gray-darkest;
  border-bottom: solid 4px $gray;
  position: fixed;
  z-index: 4;
  top: 0;
  .nav-container {
    width: $container-width;
    @media(max-width: 850px) {
      width: 100%;
      padding: 0px 10px;
    }
    section {
      .logo-link {
        color: $green-main;
        text-decoration: none;
        .logo-text {
          @media(max-width: 560px) {
            display: none;
          }
        }
        img {
          height: 30px;
          margin: 10px;
          @media(max-width: 560px) {
            margin: auto;
          }
        }
      }
    }
    section.links {
      a.route-link {
        color: $green-main;
        text-decoration: none;
        margin-right: 30px;
        &:hover {
          color: $orange-main;
        }
      }
      .logout {
        color: $green-main;
        cursor: pointer;
        &:hover {
          color: $orange-main;
        }
      }
    }
  }
}
