@import "../../vars.scss";

.Thumbnail {
  width: 194.5px;
  height: 194.5px;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  &:hover {
    cursor: pointer;
    .circle {
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
    }
  }
  @media(max-width: 560px) {
    width: calc((100vw / 2) - 15px);
    height: calc((100vw / 2) - 15px);
    margin: 5px;
  }
  .thumb-link {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 1.0;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    .circle {
      width: 80%;
      height: 80%;
      position: absolute;
      z-index: 3;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-filter 0.5s ease;
      transition: -webkit-filter 0.5s ease;
      transition: filter 0.5s ease;
      transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    }
    .circle-text {
      z-index: 3;
      h1 {
        color: $orange-main;
        padding: 4px;
      }
    }
  }
  input[type="text"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 334px;
    border-radius: 4px;
    background: $gray-dark;
    border: none;
    padding: 7px 9px;
    color: $orange-main;
    -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  }
}
