@import "../../vars.scss";

.Home {
  width: 560px;
  margin: 100px auto;
  position: relative;
  @media(max-width: 560px) {
    width: 100%;
    margin: 70px auto;
  }
  .titles {
    margin: 20px 0px;
    input[type="text"] {
      color: $green-main;
      font-size: 26px;
      background: none;
      border: none;
      &::-webkit-input-placeholder {
        color: $green-main;
      }
      &:-ms-input-placeholder {
        color: $green-main;
      }
      &::-ms-input-placeholder {
        color: $green-main;
      }
      &::placeholder {
        color: $green-main;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
    @media(max-width: 560px) {
      margin: 20px 10px;
    }
  }
  .thumb-container {
    input[type="text"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 334px;
      border-radius: 4px;
      background: $gray-dark;
      border: none;
      padding: 7px 9px;
      color: $orange-main;
      -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    }
  }
  .content {
    margin-top: 20px;
  }
  .add-section {
    button {
      background: $gray;
      color: $orange-main;
      cursor: pointer;
      margin-right: 10px;
      border: none;
      padding: 10px;
      border-radius: 4px;
      -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
      &:hover {
        background: $gray-dark;
      }
    }
  }
}
