@import "../../vars.scss";

.ItemInformation {
  position: absolute;
  bottom: 60px;
  left: 60px;
  @media(max-width: 500px) {
    bottom: 30px;
    left: 30px;
  }
  .title {
    h1, p {
      margin-bottom: 15px;
    }
    h1 {
      max-width: 70%;
      @media(max-width: 500px) {
        margin-bottom: 10px;
      }
    }
    p {
      margin-left: 6px;
      @media(max-width: 500px) {
        margin-bottom: 5px;
      }
    }
  }
  .ratings {
    img {
      height: 30px;
      margin-right: 10px;
      @media(max-width: 500px) {
        height: 22px;
      }
    }
    h3 {
      margin-right: 30px;
    }
  }
  .plot {
    margin-bottom: 30px;
  }
  p {
    color: white;
    font-size: 16px;
    max-width: 300px;
    line-height: 25px;
    padding-left: 2px;
    @media(max-width: 500px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
