@import "../../vars.scss";

.ItemInformation {
  position: absolute;
  bottom: 60px;
  left: 60px;
  .title {
    h1, p {
      margin-bottom: 15px;
    }
    p {
      margin-left: 6px;
    }
  }
  .ratings {
    img {
      height: 30px;
      margin-right: 10px;
    }
    h3 {
      margin-right: 30px;
    }
  }
  .plot {
    margin-bottom: 30px;
  }
  p {
    color: white;
    font-size: 16px;
    max-width: 300px;
    line-height: 25px;
    padding-left: 2px;
  }
}
